<template>
  <div class="login">
    <h1>Login</h1>
    <input type="text" placeholder="Usuario" v-model="email" required/></br></br>
    <input type="password" placeholder="Senha" v-model="senha" required/></br></br>
    <button class="btn-login" @click="login">Login</button>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: "login",
  data() {
    return {
      email: '',
      senha: ''
    };
  },
  methods: {
    login: function() {
      var mail = this.email + '@sigcaf.com'
      console.log(mail)
      firebase.auth().signInWithEmailAndPassword(mail, this.senha).then(
        (user) => {
          this.$router.replace("/")
          alert('OK')
        },
        (err) => {
          alert('Erro, usuário ou senha incorreto.')
        }
      )
    }
  }
}
</script>
